includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 4
    paths:
        - src
    ignoreErrors:
        - '#Unsafe usage of new static\(\).#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$laravel_through_key#'
        - '#Call to an undefined method TRelatedModel of Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method TDeclaringModel of Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method TModel of Illuminate\\Database\\Eloquent\\Model#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
